body{
    background-color: black;
    font-family: "dancingspirit";
    margin-left: 10vh;
    margin-right: 10vh
        
}
@media screen and (max-width:900px) {
    body{
        margin: 2vh
    }
    header{
        height: 35vh;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .titulo{
        width: 100%;
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .menu ul li{
        background-color: #5b7989;
        margin: 0 auto;
        max-width: 100%;
        padding: 0px;
        padding-left: auto

    }
    .barra{
        width: 100%;
        height: 200px;
        background-color: #5b7989;
    }
    .menu ul{
        display: block;
        width: 100%;
        padding: 0px;
        display: block;

    }
    .piepag{
        display: list-item;
        margin: 0 auto;
        width: 100%;
    }
    .piepag div{
        width: auto;
    }
    .img2{
        display: list-item;
        max-width: 100%;
    }
}
@font-face{
    font-family:'dancingspirit';
    src: url('dancingspirit.ttf')
}
header{
    background-color: #5b7989;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.titulo{
    color: white;
    padding: 2vw ;
    float: left;
        
}
.menu{
    width: 100%;
    height: 100px;
    color: white;
}
.menu ul{
    list-style:none;
    padding-right: 0;
    display: flex;
    justify-content:flex-end;
    background-color: #5b7989;
    color: white

}
.barra a{
    float: right;
    color: white;
    justify-content: flex-end;
    padding:2vh;
    color: white
}
header ul li{
    padding: 2vh;
    color: white;
}
.contendo{
    width: 100%;
    height: 900px;
}
.img1{
    background-color: #82c3a6;
    width: 100%;
    height: 600px;
    margin-top: 0px
}
.img1 img{
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 10px
}
.img2{
    background-color:#d5c75f ;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    border: 1px;
    display: flex
}
.galeria1{
    width: 100%;
    height: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-around;
}
.paisa{
    width: 50%
}
.paisa img{
   display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 10px
}
.paisa1{
    width: 50%
}
.paisa1 img{
   display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 10px
}
footer{
    background-color: #C6d5c5;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
footer div{
    width: 100%;
    padding-left: 4vh
}
