body{
    background-color: black;
    font-family: "dancingspirit";
    margin-left: 10vh;
    margin-right: 10vh
        
}
@media screen and (max-width:900px) {
    body{
        margin: 2vh
    }
    .piepag{
        display: list-item;
        margin: 0 auto;

    }
    header{
        height: 35vh
    }
    .titulo{
        width: 100%;
        text-align: center
    }
    .menu ul li{
        width: 100%;
        background-color: #5b7989;
        margin: 0 auto;
        justify-content: center
    }
    .barra{
        width: 100%;
        height: 200px;
        background-color: #5b7989;
    }
}
@font-face{
    font-family:'dancingspirit';
    src: url('dancingspirit.ttf')
}
header{
    background-color: #5b7989;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.titulo{
    color: white;
    padding: 2vw ;
    float: left;
        
}
.menu{
    width: 100%;
    height: 100px;
    color: white;
}
.menu ul{
    list-style:none;
    padding: 3vh;
    display: flex;
    justify-content:flex-end;
    background-color: #5b7989;
    color: white

}
.barra a{
    float: right;
    color: white;
    justify-content: flex-end;
    padding:2vh;
    color: white
}
header ul li{
    padding: 3vh;
    color: white;
}
.img1{
    background-color: #82c3a6;
    width: 100%;
    height: 600px;
    margin-top: 0px
}
.img2{
    background-color:#d5c75f ;
    width: 100%;
    height: 600px;
    margin-top: 0px;
    border: 1px
}
footer{
    background-color: #C6d5c5;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
footer div{
    width: 100%;
    padding-left: 4vh
}
