body{
    background-color: black;
    font-family: "dancingspirit";
    margin-left: 10vh;
    margin-right: 10vh
        
}
@media all (max-width:900px) {
    .menu{
        width: 100%;
        order1;
    }
    .img1{
        width: 100%;
        order: 2;
    }
    .img2{
        width: 100%;
        order: 3;
    }
    .cont{
        width:100%;
        order: 4;
    }
     .term{
        width:100%;
        order: 5;
    }
     .redes{
        width:100%;
        order: 6;
    }
     .dere{
        width:100%;
        order: 7;
    }
}
@media (min-width:901px) {

}
@font-face{
    font-family:'dancingspirit';
    src: url('dancingspirit.ttf')
}
header{
    background-color: #5b7989;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
header h1{
    color: white;
    padding: 1vh 2vw ;
    float: left;
        
}
.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    padding: 1vh 5%;
    background-color: #5b7989;
}
.menu li a{
    padding: 3.5vh;
    float: right;
    color: white;
    justify-content: flex-end;
    background-color: #5b7989;

}
.img1{
    background-color: #82c3a6;
    width: 100%;
    height: 700px;
    margin-top: 0px
}
.img2{
    background-color:red;
    width: 100%;
    height: 700px;
    margin-top: 0px
}
footer{
    background-color: #C6d5c5;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
footer div{
    width: 100%;
    padding-left: 4vh
}
